APP_NAME="ShortLink Pro"
APP_ENV=local
APP_KEY=base64:25EewEuXLFWv6Nah0vcxVwioJdEw9iBvQygNjZg9WJQ=
APP_DEBUG=true
APP_URL=http://localhost:8090

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=allweb_urlshort
DB_USERNAME=allweb
DB_PASSWORD=secret

MAIL_MAILER=smtp
MAIL_SCHEME=smtps
MAIL_HOST=smtp.spaceweb.ru
MAIL_PORT=465
MAIL_USERNAME=info@stage.org.ru
MAIL_PASSWORD="Qwert1234!"
MAIL_FROM_ADDRESS="info@stage.org.ru"
MAIL_FROM_NAME="${APP_NAME}"


STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

STRIPE_WEBHOOK_SECRET=
